@charset "utf-8";
/* CSS Document */
#sub-img {width:100%; height:120px; background-image:url('../images/sub/sub_img.jpg'); background-repeat:no-repeat; background-position:center top;}
#sub-img h2 {color:#fff; text-align:center; line-height:120px; font-size:40px; margin:0; font-weight:bold;}
#left-menu {border-bottom:1px solid #ddd;}
.home {width:70px; text-align:center; float:left; height:60px; margin:0; border-left:1px solid #ddd; border-right:1px solid #ddd; background-color:#f5f5f5;}
.home img {padding:20px 0;}
#left-menu ul {float:right; overflow:visible; width:calc(100% - 70px); margin:0; padding:0;}
#left-menu ul li {float:left; width:20%; list-style:none; border-right:1px solid #ddd; position:relative;}
#left-menu ul li a {width:100%; height:60px; line-height:60px; font-size:16px; font-weight:bold; display:block; padding:0 30px; background:url("/images/sub/leftmenu_icon_off.png") no-repeat 90% center;}
#left-menu ul li a span {display:inline-block;}
#left-menu ul li a span::after {content:""; height:2px; display:block;}
#left-menu ul li ul {clear:both; position:absolute; left:0; top:61px; width:100%; border-left:1px solid #ddd; border-right:1px solid #ddd; display:none;}
#left-menu ul li ul li {float:none; width:100% !important; border:none; border-bottom:1px solid #ddd;}
#left-menu ul li ul li a {height:45px; line-height:45px; font-size:15px; background-color:#fff; font-weight:normal;}
#left-menu ul li li a:hover {color:#1272BE; text-decoration:none;}
#left-menu ul li li.active a {background-color:#eee; color:#1272BE; text-decoration:none; font-weight:bold;}
#left-menu ul li:hover ul {display:block;}
#left-menu ul li:hover a {background-image:url("/images/sub/leftmenu_icon_on.png");}
#left-menu ul li:hover li a {background-image:none;}
.sub-body ul, .sub-body li {list-style:none;}
.sub-body caption {display:none;}
.sub-body h3 {text-align:center; margin:50px 0 30px 0; font-size:30px; font-weight:bold;}
#sub-content {margin-top:60px;}
h4 {color:#121212; font-size:18px; margin-top:30px; font-weight:bold;}
/*vision*/
.vision h4 {background:url('../images/sub/vision_top_img.png') no-repeat center top; background-size:100%; padding-top:110px; width:447px; height:509px; text-align:center; margin:0 auto; color:#039FDC; font-weight:bold;}
.vision h4:before {display:block; content:"";width:22px; height:2px; background-color:#039FDC; margin:0 auto 20px auto;}
.vision p {font-size:26px; color:#1D459A; text-align:center; line-height:100%; margin-top:20px; vertical-align:top;}
.vision p span {display:inline-block;}
.vision p .start {padding-right:40px;}
.vision p .end {padding-left:40px;}
.vision p strong {font-size:34px;}
.vision p b {font-size:30px; font-wight:bold;}
.mission {margin-top:80px;}
.mission h4 {color:#343434;}
.vision h4:before {display:block; content:""; width:22px; height:2px; background-color:#343434; margin:0 auto 20px auto;}
@media screen and (max-width: 1199px) {
	#left-menu ul li {width:25%;}
}
@media screen and (max-width: 992px) {	
	#left-menu ul li {width:40%;}
	#left-menu ul li:first-child {display:none;}
	#left-menu ul li a {font-size:15px;}
	#left-menu ul li ul li:first-child {display:block;}
}
@media screen and (max-width: 767px) {	
	#left-menu .container {padding:0;}
	.home {border-left:0;}
	#left-menu ul li {width:80%;}
	#left-menu ul li:nth-child(2) {display:none;}
	#left-menu ul li a {font-size:15px;}
	#left-menu ul li ul li:nth-child(2) {display:block;}
}
@media screen and (max-width: 424px) {	
	#left-menu ul li {width:98%;}
}
/*bbs*/
table.bbs-table {border-top:2px solid #999; border-bottom:1px solid #ccc;}
table.bbs-table thead th {text-align:center; padding:15px 10px; font-size:15px;}
table.bbs-table tbody th {text-align:center;}
/*tab*/
.basic-tab li {font-size:16px;}
.basic-tab li.active {font-weight:bold;}
/*login*/
.login {width:100%; max-width:450px; margin:0 auto; padding:15px;}
.login-input input {border:1px solid #ccc; height:50px; line-height:50px; padding:0 5px; width:100%; margin:3px 0; font-size:16px;}
.login-input button {font-size:18px; font-weight:bold; height:55px; line-height:55px; padding:0; margin-top:15px; border-radius:0;}
.login-guide {margin:10px 0; background-color:#eee; padding:10px; text-align:center;}
.login-guide b {color:#337AB7;}
.login-btn {margin:30px -5px; border-top:1px dashed #ddd; padding-top:20px;}
.login-btn .col-xs-5, .login-btn .col-xs-7 {padding:0 5px;}
.login-btn .col-xs-5 a, .login-btn .col-xs-7 a {border-radius:0; color:#767676;}
/*join*/
.mem-guide {padding:40px 40px 40px 160px; margin:0 0 30px 0; background:#eee url('/web/images/mem/mem_guide_bg.png') no-repeat 40px center; word-break:keep-all; color:#666; font-size:15px; text-align:left;}
.mem-process {padding:0px 50px; text-align:center;}
.mem-process ul {overflow:hidden; margin-bottom:0;}
.mem-process li {display:inline-block; width:24%;}
.mem-process li.bg {background:url('/comEdu/images/mem/join_arrow.png') no-repeat left 29px; background-size:13px; padding-left:25px;}
.mem-process li.next {width:9%;}
.mem-process li.next img {width:25px;}
.mem-process li .icon img {width:80px;}
.mem-process li .txt {font-size:16px; margin-bottom:0; color:#767676; font-weight:500;}
.mem-process li .txt.on {color:#333;}
.mem-process li .txt small {font-weight:normal; padding-right:10px;}
.mem-rule-agree {border-top:2px solid #5BC0DE; padding:30px 0; margin:30px 0 0 0px; text-align:left;}
.mem-rule-agree h4 {margin-top:0; position:relative; color:#121212; font-weight:bold;}
.mem-rule-agree h4 a {font-size:14px; display:inline-block; padding:0px 5px; border:1px solid #ddd; position:absolute; right:0; top:0; color:#666; border-radius:3px;}
.mem-rule-agree pre {border-radius:0; overflow:scroll; height:200px; word-break:keep-all; text-align:justify; background:#fff; border-color:#e8e8e8;}
.mem-rule-agree label {color:#666; font-weight:500;}
.mem-rule-agree.apply-agree {border:1px solid #eee; margin:30px 0 0 0;}
.iframe-box {border:1px solid #ccc; background-color:#fff; margin-bottom:10px;}
.auth-wrap {text-align:center; width:100%; max-width:440px; margin:30px auto; font-size:15px; border:1px solid #ccc; border-top:2px solid #5BC0DE; padding:40px 0;}
.auth-wrap h4 {color:#337AB7; font-size:20px; font-weight:bold;}
.auth-wrap .txt br {display:none;}
.auth-wrap .auth-input {clear:both; width:80%; margin:0 auto;}
.auth-wrap .auth-input dl {overflow:hidden; display:table; text-align:left;}
.auth-wrap .auth-input dt {display:table-cell; width:90px;}
.auth-wrap .auth-input dd {display:table-cell;}
.auth-wrap .auth-input dd input[type=text] {border:1px solid #ddd; height:30px; line-height:30px;}
.auth-wrap .auth-input dd .long {width:100%;}

.mem-join-wrap {width:100%; max-width:600px; margin:0 auto; text-align:left;}
h4.mem {color:#337AB7; font-size:16px; font-weight:bold; margin-top:20px; margin-bottom:10px;}
h4.agree {color:#337AB7; font-size:16px; font-weight:bold; margin-top:20px; margin-bottom:10px; position:relative;}
h4.agree a {position:absolute; right:0; top:50%; margin-top:-11px;}
.mem-info-input {width:100%; max-width:600px; margin:0 auto;  border:1px solid #ccc; border-top:2px solid #5BC0DE; padding:40px;}
.mem-info-input dd.line {border-bottom:1px solid #ccc; height:40px; line-height:40px;}
.mem-info-input .txt-top {color:#121212; font-size:17px; font-weight:bold;}
.mem-info-input h4:first-child {margin-top:0;}
.mem-info-input dl {margin:15px 0 0 0;}
.mem-info-input dt {font-size:15px; font-weight:normal; margin-bottom:5px;}
.mem-info-input dt label {font-size:15px; font-weight:normal; margin-bottom:0;}
.mem-info-input dd {}
.mem-info-input dd input[type=text], .mem-info-input dd input[type=password], .mem-info-input dd select {border:1px solid #ddd; height:40px; line-height:40px; color:#666; padding:0 25px 0 5px;}
.long {width:100%;}
.short {width:50px;}
.mid {width:100px;}
.mem2-org-w dd input {width:calc(100% - 150px);}
.mem-mypage {width:100%; max-width:750px; margin:0 auto;  border:1px solid #ccc; border-top:2px solid #5BC0DE; padding:30px 40px; text-align:left;}
.mem-mypage dl {overflow:hidden; display:table; font-size:0; margin:0; border-top:1px solid #ddd; padding:10px 0; width:100%; vertical-align:middle;}
.mem-mypage dl:first-child {border-top:0;}
.mem-mypage dt {display:table-cell; width:30%; font-size:15px;}
.mem-mypage dd {display:table-cell; width:70%; font-size:15px; padding-left:10px; color:#666;}
.mem-mypage dd br {display:none;}
.mem-mypage dd input[type=text], .mem-mypage dd input[type=password] {border:1px solid #ddd; padding:0 5px; height:40px; line-height:40px; width:100%;}
.membreak-agree {width:100%; max-width:750px; text-align:right; margin:10px auto 0 auto;}
.membreak-agree label {font-weight:normal;}
.membreak-agree label br {display:none;}
.mem-email-w input[type=text] {width:calc(34% - 11px);} 
/*find*/
.find .mem-guide {border:1px solid #ccc; padding:30px 30px 30px 130px; font-size:15px; text-align:left; background:url('/web/images/sub/icon_guide.png') no-repeat 30px center; background-size:80px;}
.find .mem-guide ul {margin:0; padding:0;}
.find .mem-guide ul li {position:relative; padding:3px 0; padding-left:20px;}
.find .mem-guide ul li:before {content:"ã†"; font-size:20px; color:#337AB7; display:block; position:absolute; left:0; top:5px; line-height:100%;}
.find .mem-guide ul li p {margin-bottom:0;}
.find .guide {margin-top:40px;}
.find .guide span {display:block;}
/*menu-tab*/
.menu-tab {text-align:center; font-size:0; margin:0 0 0 1px; padding:0;}
.menu-tab li {display:inline-block; margin-left:-1px; position:relative; z-index:1;}
.menu-tab li:first-child {border-left:0;}
.menu-tab li a {display:block; padding:0 50px; height:50px; line-height:50px; font-size:17px; border:1px solid #ddd; text-decoration:none;}
.menu-tab li a:hover {background-color:#f5f5f5;}
.menu-tab li.active {z-index:2; }
.menu-tab li.active a {border:1px solid #333; color:#121212; font-weight:bold;}
@media screen and (max-width: 767px) {
	.menu-tab {margin:1px 0 0 0;}
	.menu-tab li {display:block; margin:-1px 0 0 0;}
	.menu-tab li a {padding:0 10px;}
}

.mt5 {margin-top:5px !important;}
.mt20 {margin-top:20px !important;}
.mt30 {margin-top:30px !important;}
.mb0 {margin-bottom:0px !important;}

.btn-gray {color:#fff; background-color:#505050; border-color:#505050;}
.btn-gray.active,.btn-gray.focus,.btn-gray:active,.btn-gray:focus,.btn-gray:hover,.open>.dropdown-toggle.btn-gray {color:#fff; background-color:#505050; border-color:#505050}
.btn-gray.active,.btn-gray:active,.open>.dropdown-toggle.btn-gray {background-image:none;}
/*content*/
.col img {max-width:100%;}
.sp1 {font-size:17px; word-break:keep-all; padding-bottom:20px;}
.sp2 {font-size:18px; word-break:keep-all; margin-top:30px;}
.imgfile {margin-top:30px;}
.downfile {margin-top:30px;}
.downfile a span {margin-right:15px;}